// Formatting for the sprites on the main page
.minisprite {
  height: 48px;
  max-width: 60px;
  margin: 15px;
}

// Main page list
.pokemon-list {
  padding: 0;
}

.name, .number {
  padding: 0 15px;
}